.linear-1 {
  /* 80FF02 */
  background: linear-gradient(
    -140deg,
    rgba(128, 255, 2, 1),
    rgba(89, 255, 205, 1)
  );
}
.linear-2 {
  background: linear-gradient(-45deg, #02bccc, #60f23f);
}
.linear-3 {
  background: linear-gradient(-45deg, #ccff02, #59ffcd);
}

.linear-4{
  background: linear-gradient(44deg, #59ffcd 10%,  #ccff02 37%);;
}

.webkit-text {
  -webkit-background-clip: text;
}

.border-gradient {
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.border-1 {
  background-image: linear-gradient(-45deg, #ccff02, #59ffcd);
  position: relative;
  border-radius: 50px;
}
.border-1::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #111111;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50px;
}
.mborder-2 {
  background-image: linear-gradient(to bottom, #CCFF02 44%, #111111 58%);
  position: relative;
  border-radius: 15px;
}
.mborder-2::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #212121;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 15px;
}

.outline-text-1{
  /* 807E7E */
  -webkit-text-stroke: 1px #807E7E;
    -webkit-text-fill-color: transparent;
}

.home-hero-bg{
  background-image: url("./images/home-hero-bg.png");
}

.home-video-bg{
  background-image: url("./images/home-video-bg.png");
}

.ai-slider .swiper-slide { width: auto !important}
.qutslider .swiper-pagination{
  text-align: left !important;
}
.qutslider{
  padding-bottom: 50px !important;
}
.qutslider .swiper-pagination-bullet{
  border: 1px solid white;
    height: 10px;
    width: 10px;
}
.qutslider .swiper-pagination-bullet-active{
  border: 1px solid white;
    height: 10px;
    width: 10px;
    background-color: white;
}


.img-reflection{
  -webkit-box-reflect: below 20px;
}

.reflection-overlay{
  background: linear-gradient(180deg, transparent 52%, rgba(17,17,17,1) 88%);
}

.m-flex{
  flex: 0 0 auto;
}